<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label for="username" th:text="#{username}"> : </label><input id="username" type="text" name="username"/> </div>
    <div><label for="password" th:text="#{password}"> : </label><input id="password" type="password" name="password"/></div>
    <div><button type="submit" th:text="#{signin}">Sign In</button>></div>
</form>
</body>
</html>